@model Stajyer
@{
    ViewData["Title"] = "Duzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Http

@{
    var yetki = Context.Session.GetInt32("yetki");
    var profilid = Context.Session.GetInt32("profilid");
    var kadi = Context.Session.GetString("kadi");
    var id = Context.Session.GetInt32("id");
}

<div class="container border-secondary">
    <div class="row">
        <div class="col-lg-2  col-md-12 h-25  ">
            <label class="cabinet center-block h-100 ">
                <figure class="h-100 text-center">
                    <img src="@Model.Profil.Fotograf" class="gambar img-responsive img-thumbnail" style="" id="item-img-output" />
                    <figcaption class=""> <i class="fa fa-camera"> </i> </figcaption>

                </figure>
                <input type="file" class="item-img file center-block" name="file_photo" / >
            </label>
            <div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">
                                Fotoğrafı Düzenle
                            </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"> &times;</span> </button>

                        </div>
                        <div class="modal-body">
                            <div id="upload-demo" class="center-block text-center"> </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"> Çıkış</button>
                            <button type="button" id="cropImageBtn" class="btn btn-primary"> Kırp</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-12">
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <h5 class="">Hesap Bilgileri</h5>

                <hr />

                <div class="card card-body" style="border-radius:10px 20px;">
                    <div class="form-group">
                        <label for="ad">Ad</label>
                        <input type="text" class="form-control" id="ad" name="Profil.Ad" placeholder="Ad" value="@Model.Profil.Ad" required>
                    </div>
                    <div class="form-group">
                        <label for="soyad">Soyad</label>
                        <input type="text" class="form-control" id="soyad" name="Profil.Soyad" placeholder="Soyad" value="@Model.Profil.Soyad" required>
                    </div>
                    <div class="form-group">
                        <label for="kullaniciadi">Kullanıcı Adı</label>
                        <input type="text" class="form-control" id="kullaniciadi" name="Profil.KullaniciAdi" placeholder="Kullancı Adı" value="@Model.Profil.KullaniciAdi" required hidden="hidden">
                        <input type="text" class="form-control" id="kullaniciadi1" name="" placeholder="Kullancı Adı" value="@Model.Profil.KullaniciAdi" required disabled>

                    </div>
                    <div class="form-group">
                        <label for="Sifre">Şifre</label>
                        <input type="password" class="form-control" id="Sifre" name="Profil.Sifre" placeholder="Şifre" value="@Model.Profil.Sifre" required>
                    </div>
                    @if (yetki != 4 && yetki != 3)
                    {
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                <label for="GunSayisi">Staj Süresi(Gün)</label>
                                <input type="text" id="GunSayisi" name="GunSayisi" class="form-control" placeholder="Staj Gün Sayısı" value="@Model.GunSayisi" required />
                            </div>

                            <div class="form-group col-sm-4">
                                <label for="baslangictarihi">Başlangıç Tarihi:</label>
                                <input type="date" class="form-control" id="baslangictarihi" name="BaslangicTarihi" placeholder="Başlangıç Tarihi" value="@Model.BaslangicTarihi.ToString("yyyy-MM-dd")" required>
                            </div>

                            <div class="form-group col-sm-4">
                                <label for="bitistarihi">Bitiş Tarihi:</label>
                                <input type="date" class="form-control" id="bitistarihi" name="BitisTarihi" placeholder="Bitiş Tarihi" value="@Model.BitisTarihi.ToString("yyyy-MM-dd")" required>
                            </div>
                        </div>
                    }
                        <div class="form-group">
                            <label for="email">Email Adres</label>
                            <input type="email" class="form-control" id="email" name="Profil.Email" placeholder="Email" value="@Model.Profil.Email" required hidden="hidden">
                            <input type="email" class="form-control" id="email1" name="" placeholder="Email" value="@Model.Profil.Email" required disabled>
                        </div>
                    @if (yetki != 4 && yetki != 3)
                    {
                        <div class="input-group " style="">
                            <div class="row col-12">
                                <label for="birim">Birim</label>
                            </div>
                            <select name="Birimler[]" id="select2" multiple="multiple" class="form-control" asp-items="@ViewBag.Birimler" required></select>
                        </div>
                    }
                </div>
                <h5>İletişim Bilgileri</h5>
                <hr />
                <div class="card card-body " style="border-radius:10px 20px;">
                    <div class="form-group">
                        <label for="telefonnumarasi">Telefon Numarası:</label>
                        <input type="text" id="telefon" class="form-control bfh-phone" name="Profil.Telefon" placeholder="Telefon Numarası" value="@Model.Profil.Telefon">
                    </div>
                    <div class="form-group">
                        <label for="okul">Okulu:</label>
                        <input type="text" class="form-control" id="okul" name="Okul" placeholder="Okul" value="@Model.Okul" required>
                    </div>

                    <div class="form-group">
                        <label for="bolum">Bölümü:</label>
                        <input type="text" class="form-control" id="bolum" name="Bolum" placeholder="Bölüm" value="@Model.Bolum" required>
                    </div>

                    <div class="form-group">
                        <label for="adres">Adres</label>
                        <input type="text" class="form-control" id="adres" name="Profil.Adres" placeholder="Adres" value="@Model.Profil.Adres">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-4">
                            <label for="il">İl</label>
                            <input type="text" class="form-control" id="il" name="Profil.Il" placeholder="İl" value="@Model.Profil.Il">
                        </div>

                        <div class="form-group col-sm-4">
                            <label for="ilce">İlçe</label>
                            <input type="text" class="form-control" id="ilce" name="Profil.Ilce" placeholder="İlçe" value="@Model.Profil.Ilce">
                        </div>

                        <div class="form-group col-sm-4">
                            <label for="sokak">Sokak</label>
                            <input type="text" class="form-control" id="sokak" name="Profil.Sokak" placeholder="Sokak" value="@Model.Profil.Sokak">
                        </div>
                    </div>
                </div>
                <input type="text" class="custom-file-input" id="img" name="img" hidden />
                <button id="submit" type="submit" class="btn btn-success ">Kaydet</button>
                <button id="submit1" type="submit" hidden="hidden"></button>
                <a href="~/Stajyer/Listele" class="btn btn-primary">İptal</a>
            </form>
        </div>
    </div>
</div>
<script>
    $('#select2').select2({
        theme: 'bootstrap4'
    });
    $('#telefon').inputmask({ "mask": "0(999) 999-9999" });

</script>
<script src="~/js/photo-edit.js">
</script>