@model Stajyer
@{
    ViewData["Title"] = "Goruntule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<input type="text" hidden="hidden" id="stajyerid" value="@Model.ID" />
<div class="col-lg-12 grid-margin stretch-card">
    <div class="table-responsive">
        <table class="bg-white table table-striped table-bordered" style="">
            <thead>
                <tr>
                    <th class="" style="width:7%;">@DateTime.UtcNow.Year</th>
                    <div class="position-fixed">
                        @for (int i = 1; i <= 31; i++)
                        {
                            <th class="font-10 font-weight-bold text-info bg-light" style="">@i</th>
                        }
                        <div />
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-info bg-light font-weight-bold">Ocak</td>
                    @for (int i = 1; i <= 31; i++)
                    {
                        var id = "ocak" + i;
                        <td id="@id"></td>
                    }
                </tr>
                <tr>
                    <td class="text-info bg-light font-weight-bold">Şubat</td>
                    @for (int i = 1; i <= 31; i++)
                    {
                        var id = "subat" + i;
                        <td id="@id"></td>
                    }
                </tr>
                <tr>
                    <td class="text-info bg-light font-weight-bold">Mart</td>
                    @for (int i = 1; i <= 31; i++)
                    {
                        var id = "mart" + i;
                        <td id="@id"></td>
                    }
                </tr>
                <tr>
                    <td class="text-info bg-light font-weight-bold">Nisan</td>
                    @for (int i = 1; i <= 31; i++)
                    {
                        var id = "nisan" + i;
                        <td id="@id"></td>
                    }
                </tr>
                <tr>
                    <td class="text-info bg-light font-weight-bold">Mayıs</td>
                    @for (int i = 1; i <= 31; i++)
                    {
                        var id = "mayis" + i;
                        <td id="@id"></td>
                    }
                </tr>
                <tr>
                    <td class="text-info bg-light font-weight-bold">Haziran</td>
                    @for (int i = 1; i <= 31; i++)
                    {
                        var id = "haziran" + i;
                        <td id="@id"></td>
                    }
                </tr>
                <tr>
                    <td class="text-info bg-light font-weight-bold">Temmuz</td>
                    @for (int i = 1; i <= 31; i++)
                    {
                        var id = "temmuz" + i;
                        <td id="@id"></td>
                    }
                </tr>
                <tr>
                    <td class="text-info bg-light font-weight-bold">Ağustos</td>
                    @for (int i = 1; i <= 31; i++)
                    {
                        var id = "agustos" + i;
                        <td id="@id"></td>
                    }
                </tr>
                <tr>
                    <td class="text-info bg-light font-weight-bold">Eylül</td>
                    @for (int i = 1; i <= 31; i++)
                    {
                        var id = "eylul" + i;
                        <td id="@id"></td>
                    }
                </tr>
                <tr>
                    <td class="text-info bg-light font-weight-bold">Ekim</td>
                    @for (int i = 1; i <= 31; i++)
                    {
                        var id = "ekim" + i;
                        <td id="@id"></td>
                    }
                </tr>
                <tr>
                    <td class="text-info bg-light font-weight-bold">Kasım</td>
                    @for (int i = 1; i <= 31; i++)
                    {
                        var id = "kasim" + i;
                        <td id="@id"></td>
                    }
                </tr>
                <tr>
                    <td class="text-info bg-light font-weight-bold">Aralık</td>
                    @for (int i = 1; i <= 31; i++)
                    {
                        var id = "aralik" + i;
                        <td id="@id"></td>
                    }
                </tr>
            </tbody>
        </table>
    </div>


    <div class="card">
        <div class="card-body">
            <h6 class="card-title text-info font-weight-bold">Toplam Devamsızlık: @Model.Devamsizliklar.Count</h6>
        </div>
    </div>
</div>

<script>

    $(function () {
        console.log($('#stajyerid').val());
        $.ajax({
            url: '/Devamsizlik/Devamsizliklar',
            data: { id: $('#stajyerid').val() },
            dataType: 'json',
            type: 'POST',
            success: function (data) {
                $.each(data, function (id, obj) {
                    console.log(obj.tarih + 'as');
                    var tarih = obj.tarih.toString().split('-', 3);
                    var year = tarih[0];
                    var month = tarih[1];
                    var day = tarih[2].split("T")[0];
                    var id = "";
                    switch (month) {
                        case '01': id += 'ocak'; break;
                        case '02': id += 'subat'; break;
                        case '03': id += 'mart'; break;
                        case '04': id += 'nisan'; break;
                        case '05': id += 'mayis'; break;
                        case '06': id += 'haziran'; break;
                        case '07': id += 'temmuz'; break;
                        case '08': id += 'agustos'; break;
                        case '09': id += 'eylul'; break;
                        case '10': id += 'ekim'; break;
                        case '11': id += 'kasim'; break;
                        case '12': id += 'aralik'; break;
                    }

                    for (var i = 1; i <= 31; i++) {
                        if (parseInt(day) == i) {
                            id += i;
                        }
                    }

                    if (parseInt(year) == new Date().getFullYear()) {
                        $('#' + id).addClass('bg-secondary').addClass('text-white').addClass('text-center').css('border-radius', '5%');
                        $('#' + id).html('X');
                    }

                });
            }
        });
    });

</script>