@model List<Stajyer>
@{
    ViewData["Title"] = "Yonet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .profile-area {
        max-height: 200px;
        height: 200px;
    }

    @@media screen and (max-width:767px) {
        .profile-area-image {
            max-height: 0px;
            height: 0px;
            display: none;
        }
    }
</style>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Stajyer Bilgileri</h4>

            <div class="table-responsive">
                <table class="table table-striped" id="kisilertablosu">
                    <thead>
                        <tr>
                            <th>
                                Fotoğraf
                            </th>
                            <th>
                                Adı Soyadı
                            </th>
                            <th>
                                Toplam Devamsızlık
                            </th>
                            <th>
                                Devamsızlık
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var i in Model)
                            {
                                <tr>
                                    <td class="py-2 px-4">
                                        <img src="~/images/man.png" alt="image" class="img-rounded img-profile" width="36" />
                                    </td>
                                    <td>
                                        @i.Profil.Ad @i.Profil.Soyad
                                    </td>
                                    <td class="">
                                        @i.Devamsizliklar.Count
                                    </td>
                                    <td>
                                        <button type="button" data-toggle="modal" data-target="#devamsizlikekle" id="@i.ID" class="btn btn-success btnekle">Ekle</button>
                                        <button type="button" class="btn btn-primary btnduzenle" data-toggle="modal" data-target="#devamsizlikduzenle" id="@i.ID">Düzenle</button>
                                        <a href="~/Devamsizlik/Goruntule/@i.ID" class="btn btn-danger">Görüntüle</a>

                                    </td>
                                </tr>
                            }
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="modal " id="devamsizlikduzenle">
    <div class="modal-dialog " style="max-width:650px;">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h4 class="modal-title"><span class="mdi mdi-pencil-box mdi-18px"></span>Devamsızlık Düzenle</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container-fluid row ml-1 " style="">
                    <div class="bg-dark  col-md-4  profile-area profile-area-image" style=""></div>
                    <div class="bg-success col-md-8 col-xs-12 profile-area " style="">
                        <div class="card h-100" style="margin-left:-10px; margin-right:-10px;">
                            <div class="card-header bg-light"><h5 class="card-title">Profil Bilgileri</h5></div>
                            <div class="card-body border h-100 scrollable">
                                <div class="row">
                                    <div class="w-25 font-bold pl-2 pl-sm-0 text-right">Ad Soyad:</div>
                                    <div class="w-75 pl-4 pl-sm-2 text-primary font-bold">Niyazi Ekinci</div>
                                </div>
                                <div class="row mt-1">
                                    <div class="w-25 font-bold pl-2 pl-sm-0 text-right">Okul:</div>
                                    <div class="w-75 pl-4 pl-sm-2 text-primary font-bold">Alanya Alaaddin Keykubat Üniversitesi</div>
                                </div>
                                <div class="row mt-1">
                                    <div class="w-25 font-bold pl-2 pl-sm-0 text-right">Bölüm:</div>
                                    <div class="w-75 pl-4 pl-sm-2 text-primary font-bold">Bilgisayar Mühendisliği</div>
                                </div>
                                <div class="row mt-1">
                                    <div class="w-25 font-bold pl-2 pl-sm-0 text-right">Telefon:</div>
                                    <div class="w-75 pl-4 pl-sm-2 text-primary font-bold">+90 (532) 543 2704</div>
                                </div>
                                <div class="row mt-1">
                                    <div class="w-25 font-bold pl-2 text-right">Email:</div>
                                    <div class="w-75 pl-4 pl-sm-2 text-primary font-bold">niyaziekinci5050@gmail.com</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="container-fluid mt-1">
                    <div class="row">
                        <div class="col-12">
                            <div class="card" style="margin-right: -4px; margin-left:4px;">
                                <div class="card-header bg-light">
                                    <div class="row">
                                        <div class="font-bold col-md-4 col-xs-12 align-self-center">Toplam Devamsızlık : 5</div>
                                        <div class="col-md-4 col-xs-12 offset-md-4 text-right">
                                            <button type="button" data-target="#devamsizlikekle" data-toggle="modal" class="btn btn-success">Ekle</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid mt-1">
                    <div class="table-responsive">
                        <table class="table table-striped " id="devamsizliktablosu" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tarih</th>
                                    <th>Düzenle</th>
                                </tr>
                            </thead>
                            <tbody id="devamsizliklistesi">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="devamsizlikekle">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header bg-light">
                <h4 class="modal-title"><span class="mdi mdi-plus-box mdi-18px"></span>Devamsızlık Ekle</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="usericon" hidden>
                    <span class="mdi mdi-18px mdi-account"></span>
                </div>
                <div class="pl-1 py-3  mb-2 font-18" id="veri">
                </div>
                <div class="form-group">

                    <div class="input-group date" id="datetimepicker5">

                        <input type="date" class="form-control datepicker" name="Tarih" id="dtarih" required />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="devamsizkaydet" class="btn btn-success">Kaydet</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="silmeonay">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span class="mdi mdi-delete"></span>Silme Onayı</h4>
            </div>
            <div class="modal-body lead text-center">
                Gerçekten silmek istiyor musunuz? 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnSil">Sil</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

      
        var kisiler = $('#kisilertablosu').DataTable({
            "language": { "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json" }
            
        });

        var idx;
        $('.btnekle').click(function () {
            idx = this.id;
            $.ajax({
                type: "POST",
                dataType: "text",
                data: { id: idx },
                url: "/Devamsizlik/AdSoyadCek",
                success: function (data) {
                    $('#veri').html($('#usericon').html() + data);
                }
            });
        });


        
        function veritablosu(ids) {
            
        }

        $('#btnSil').click(function () {
            console.log(idsil);
        });
        
        var idduzenle;
        $('.btnduzenle').click(function () {

            idduzenle = this.id;
            tablocek(idduzenle);
            
        });
        

        $("#devamsizkaydet").click(function () {
            const id = idx;
            var devamsizlik = { StajyerID: id, Tarih: $('#dtarih').val() };
            $.ajax({
                url: "/Devamsizlik/Ekle",
                data: { devamsizlik: devamsizlik, id: id },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    $('#devamsizlikekle').modal('hide');
                    swal({
                        title: "Başarılı",
                        text: "Başarıyla kaydedildi",
                        icon: "success",
                        button : "Kapat"
                    });
                },
                error: function (data) {
                    $('#devamsizlikekle').modal('hide');
                    swal({
                        title: "Bir sorun oluştu",
                        text: "Kaydedilirken bir sorunla karşılaşıldı, tekrar deneyin!",
                        icon: "error",
                        button :"Kapat"
                    });
                }
            });
        });

    });
</script>
